.Skill {
  width: 1260px;
  margin: 150px auto 100px;
  h2 {
    font-size: 40px;
    text-align: center;
  }
  .Skill_Slider {
    display: flex;
    gap: 30px;
    .swiper-slide {
      width: 400px;
      .Skill_slider_slide {
      background-color: #ffffff;
      word-break: break-word;
      overflow-wrap: break-word;
      .img {
        position: relative;
        width: 400px;
        aspect-ratio: 16/9;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        p {
          color: #000000;
        }
        h3 {
          color: #000000;
          word-break: break-word;
          overflow-wrap: break-word;
        }
        div.Level_img {
          img {
          }
          p {
            word-break: break-word;
            overflow-wrap: break-word;
          }
        }
      }
    }
    }
    
  }
}
