.About_Hero{
    width: 100%;
    aspect-ratio: 16/6;
    background-image: url("../../public/assets/Hero.jpg");
    background-position: center;
    background-size: cover;
    .About_Hero_Heading{
        h1{}
        p{}
        a{}
    }
}